.container {
    width: 600px;
    min-height: calc(100vh - 88px);
}
.components-main,
.components-bun {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.components-bun {
    height: 656px;
}

.components-main {
    max-height: 464px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.info {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}