.container {
	width: 600px;
	min-height: calc(100vh - 88px);
}
.components-main,
.components-container,
.info {
	display: flex;
}

.components-main,
.components-container {
	flex-direction: column;
	gap: 16px;
}

.components-container {
	height: 656px;
}

.components-main {
	max-height: 464px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.info {
	height: 64px;
	align-items: center;
	justify-content: flex-end;
	gap: 40px;
}

.components-list {
	max-width: 536px;
	min-height: 80px;
	margin-left: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--common-border-radius-s);
	background: var(--background-element);
}

.top {
	border-radius: var(--top-constructor-item-border-radius);
}

.bottom {
	border-radius: var(--bottom-constructor-item-border-radius);
}
