:root {
	--background-color: #1c1c21;
	--text-color: #f2f2f3;
	width: 1240px;
	margin: auto;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}
